.App-section {
  background-color: #424957;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: rgba(255, 255, 255, 0.795);
}

.div-login {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  padding: 50px;
  background-color: #313640;
  width: 380px;
  height: 500px;
  box-sizing: border-box;
  gap: 7px;
}

.container-input {
  display: flex;
  font-size: medium;
  flex-direction: column;
  margin-bottom: 20px;
  gap: 10px;
}

.title {
  margin: 10px 0px;
  text-decoration: 1px underline;
  text-underline-offset: 1rem;
  padding-bottom: 25px;
  font-weight: lighter;
}

.input-user {
  padding-left: 5px;
  background-color: #313640;
  border: none;
  border-bottom: 1px solid rgba(255, 255, 255, 0.795);
  color: rgba(255, 255, 255, 0.496);
  box-shadow: none;
}
.input-user:focus {
  outline: none;
  color: rgba(255, 255, 255, 0.795);
  box-shadow: none;
}

.button-default {
  width: 100%;
  height: 40px;
  background-color: rgba(220, 20, 60, 0.525);
  color: rgba(255, 255, 255, 0.795);
  border: none;
  cursor: pointer;
}

.button-default:hover {
  background-color: rgba(220, 20, 60, 0.455);
}

.button-default:active {
  background-color: rgba(220, 20, 60, 0.357);
}

a {
  display: flex;
  font-size: small;
  color: rgba(255, 255, 255, 0.795);
  justify-content: center;
  margin-top: 15px;
  cursor: pointer;
}

a:hover {
  color: rgba(255, 255, 255, 0.575);
}

a:active {
  color: rgba(255, 255, 255, 0.323);
}

.button-home {
  width: 150px;
  height: 30px;
}

.section-default {
  background-color: #313640;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}

.style-title {
  color: rgba(255, 255, 255, 0.795);
}
